.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.card.alto {
  background: #e74c3c;
}

.card.medio {
  background: #f39c12;
}

.card.bajo {
  background: #2ecc71;
}

.tabla table {
  width: 100%;
  border-collapse: collapse;
}

.tabla th, .tabla td {
  border: 1px solid #ddd;
  padding: 10px;
}

.riesgo {
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  color: white;
}

/* ALTO */
.alto {
  background-color: #e74c3c;
  color: white;
}

/* MEDIO */
.medio {
  background-color: #f39c12;
  color: white;
}

/* BAJO */
.bajo {
  background-color: #2ecc71;
  color: white;
}
.empty {
  text-align: center;
  margin-top: 20px;
  color: gray;
}
