<div class="dashboard">

  <div class="cards">

    <div class="card alto">
      <h3>Alto Riesgo</h3>
      <p>{{ alertasAltas.length }}</p>
    </div>

    <div class="card medio">
      <h3>Medio Riesgo</h3>
      <p>{{ alertasMedias.length }}</p>
    </div>

    <div class="card bajo">
      <h3>Bajo Riesgo</h3>
      <p>{{ alertasBajas.length }}</p>
    </div>

  </div>

  <div class="tabla" *ngIf="alertas.length > 0">
    <table>

      <thead>
        <tr>
          <th>Paciente</th>
          <th>Riesgo</th>
          <th>Probabilidad</th>
          <th>Recomendación</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let alerta of alertas">

          <td>
            {{ alerta.paciente?.nombres || 'Sin datos' }}
          </td>

          <td>
            <span class="riesgo" [ngClass]="alerta.nivelRiesgo.toLowerCase()">
  {{ alerta.nivelRiesgo }}
</span>
          </td>

          <td>
            {{ alerta.probabilidadInasistencia * 100 | number:'1.0-0' }}%
          </td>

          <td>
            {{ alerta.recomendacion }}
          </td>

        </tr>
      </tbody>

    </table>
  </div>

  <div *ngIf="totalAlertas === 0" class="empty">
    Sin alertas disponibles
  </div>

</div>
