
<div class="page">

  <h1>Nueva Cita</h1>

  <div *ngIf="mensaje" class="success">
    {{ mensaje }}
  </div>

  <div class="form">

    <input type="number" placeholder="ID Paciente"
      [(ngModel)]="cita.paciente.id">

    <input type="number" placeholder="ID Médico"
      [(ngModel)]="cita.medico.id">

    <select [(ngModel)]="cita.tipoCita">
      <option value="CONSULTA">Consulta</option>
      <option value="CONTROL">Control</option>
      <option value="EMERGENCIA">Emergencia</option>
    </select>

    <input type="date" [(ngModel)]="cita.fecha">

    <input type="time" [(ngModel)]="cita.hora">

    <input type="text" placeholder="Especialidad"
      [(ngModel)]="cita.especialidad">

    <textarea placeholder="Motivo de consulta"
      [(ngModel)]="cita.motivoConsulta"></textarea>

    <button (click)="guardar()">
      Guardar Cita
    </button>

  </div>

</div>
